<div class="product">
    <div class="container m-4 p-4 bg-light row">
        <div class="col-sm-4">
            <img class="image-adj" src="{{Product.productImage}}" alt="">
        </div>
        <div class="col-sm-8 p-4">
                <div class="title">
                    <p class="title-text">{{ Product.title }}</p>
                </div>
                <div class="price">
                    <p>{{ Product.price }}</p>
                </div>
                <div class="description">
                    <p>{{ Product.description }}</p>
                </div>
                <div>
                    <button type="button" class="btn btn-primary m-1">Add To Cart</button>
                </div>
                <div>
                    <button href="#" class="btn btn-success m-1">Buy</button>
                </div>
        </div>
    </div>
</div>