<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/dashboard">
        <img
          style="width: 100px; height: 50px"
          src="{{ logoSrc }}"
          alt="logo"
        />
        <a href="/admin" type="button" class="mx-1 btn btn-outline-secondary">
            Admin
          </a>
      </a>
      <div class="navbar">
        <div>
          <!-- <a class="signIn-style" href="#">Sign In</a> -->
          <!-- <a href="/login" type="button" class="btn btn-outline-secondary">
            Sign In
          </a> -->
          <a href="/orderes" type="button" class="btn btn-outline-secondary">
            Your Orders
          </a>
        </div>
        <div>
          <!-- <ul class="cart-country-wrap"> -->
          <!-- <li class="cart-link"> -->
          <a title="Cart" href="dashboard/cart" class="Cart"
            ><img src="{{ cartImage }}" alt="cart" /><span class="cart-count"
              >{{ totalCartNumber }}</span
            ></a
          >
          <!-- </li> -->
          <!-- </ul> -->
          <!-- <a class="btn btn-primary" href="#" role="button">
            <img class="cartImg" src="{{ cartImage }}" alt="cart" />
            Cart
          </a> -->
        </div>
      </div>
    </div>
  </nav>

  <div class="py-3">
    <div class="container">
      <div class="d-flex">
        <div class="mx-auto">
          <form class="form-inline" action="">
            <input type="text" class="search-input" placeholder="Search here" />
            <button  type="submit" class="px-4 search-btn btn btn-primary mb-1">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- <header>
  <div class="site-header-wrapper">
    <div class="container">
      <div class="header-wrapper">
        <div class="logo-wrapper">
          <a class="site-logo" title="logo" href="#"
            ><img src="images/site-logo.svg" alt="Tatvasoft"
          /></a>
        </div>
        <div class="nav-wrapper">
          <div class="top-right-bar">
            <ul class="top-nav-bar">
              <li>
                <a title="Login" href="#">Login</a>
              </li>
              <li>
                <a title="Register" href="#">Register</a>
              </li>
            </ul>
            <ul class="cart-country-wrap">
              <li class="cart-link">
                <a title="Cart" href="#"
                  ><img src="images/cart.svg" alt="cart" /><span>0</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<!-- Header Search -->

<!-- <div class="header-search-wrapper">
          <div class="container">
            <div class="header-search-outer">
              <div class="header-search-inner">
                <div class="text-wrapper">
                  <div class="form-group-wrapper">
                    <div class="form-group">
                      <label style="display: none" for="search-text"
                        >Search</label
                      >
                      <input
                        id="search-text"
                        name="text"
                        placeholder="What are you looking for..."
                        type="text"
                        class="form-control"
                        value=""
                      />
                    </div>
                  </div>
                  <div class="product-listing">
                    <p class="no-product">No product found</p>
                    <p class="loading">Loading....</p>
                    <ul class="related-product-list">
                      <li>
                        <div class="inner-block">
                          <div class="left-col">
                            <span class="title">Title 1</span
                            ><span class="category">Category</span>
                            <p>Description</p>
                          </div>
                          <div class="right-col">
                            <span class="price">1000</span
                            ><a href="#">Add to cart</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="inner-block">
                          <div class="left-col">
                            <span class="title">Title 1</span
                            ><span class="category">Category</span>
                            <p>Description</p>
                          </div>
                          <div class="right-col">
                            <span class="price">1000</span
                            ><a href="#">Add to cart</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="inner-block">
                          <div class="left-col">
                            <span class="title">Title 1</span
                            ><span class="category">Category</span>
                            <p>Description</p>
                          </div>
                          <div class="right-col">
                            <span class="price">1000</span
                            ><a href="#">Add to cart</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="inner-block">
                          <div class="left-col">
                            <span class="title">Title 1</span
                            ><span class="category">Category</span>
                            <p>Description</p>
                          </div>
                          <div class="right-col">
                            <span class="price">1000</span
                            ><a href="#">Add to cart</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <button class="btn green-btn" type="submit">
                  <em><img src="images/search.svg" alt="search" /></em>Search
                </button>
                <button class="btn blue-btn" type="submit">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </header> -->
<!-- </header> -->
